* {
  box-sizing: border-box;
}

body {
  min-width: 768px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans', sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

body.posts > .menubar {
  position: fixed;
  width: 100%;
  min-width: 768px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
